@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap';

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}


body {
    background-color: #18181B;
}

a {
    text-decoration: none;
    color: currentColor;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #151517;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.title {
    font-size: 35px;
    color: #EAB308;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
    color: white;
    font-size: 17px;
}

nav ul li:hover {
    color: #EAB308;
}

.first {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 23px 0;
    justify-content: space-around;

    padding: 100px 0 200px 0;
    margin-top: 30px;
}

.leftFirst {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    height: auto;
    justify-content: center;
    align-items: left;
    color: white;
    font-size: 45px;
    margin: 60px 0;
    padding-left: 30px;
    padding-right: 30px;

}

.leftFirst span {
    color: #EAB308;
}


.rightFirst {

    display: flex;
    justify-content: center;
    align-items: center;
}

.rightFirst img {
    width:500px;
    height: 500px;
}

.second {
    display: flex;
    background-color: #212125;
    padding-top: 60px;
    padding-bottom: 60px;
}

.About {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}



.About .AboutInner1 img {
    height: auto;
    aspect-ratio: 1/1;
    width: 310px;

    border-radius: 30px;
}

.AboutInner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 40px;
}

.AboutInner2 span {

    font-size: 30px;
    margin-right: 70px;
    font-weight: 600;
    color: #EAB308;
    position: relative;
}

.AboutInner2 span::after {
    content: "";
    position: absolute;
    background-color: #EAB308;
    height: 2px;
    left: 10%;
    width: 80%;
    bottom: 0;
}

.AboutInner2 span::before {
    content: "";
    position: absolute;
    background-color: #EAB308;
    height: 1.5px;
    left: 25%;
    width: 50%;
    bottom: -10px;
}

.AboutInner2 p {
    margin-top: 30px;
    width: auto;
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: rgb(209, 209, 209);
}

.sectionTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 30px;

    font-weight: 600;
    color: #EAB308;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 80px 80px 80px;
}

.Projects {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.proCon {
    width: 300px;
    background-color: white;
    gap: 0.75rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    border-radius: 10px;
}

.pdet {

    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
}

.img-con {
    width: auto;
    height: auto;
    overflow: hidden;
}

.proCon img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.proCon img:hover {
    transform: scale(1.5);
}

.proCon .proName {
    color: rgb(24, 23, 23);
    font-weight: 700;
}

.proCon .proDetails {
    font-size: .75rem;
    line-height: 1rem;
}

.forth {
    background-color: #212125;
    padding-top: 60px;
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillsTitle {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #EAB308;
}

.skillsDes {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-bottom: 80px;
    width: 100%;
}

.skillsMain {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;

}

.skillCon {
    background-color: #1c1c25;
    height: 170px;
    width: 170px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
}

.skillIcon {
    height: 70px;
    max-width: 70px;
    object-fit: cover;
    margin-bottom: 30px;
    filter: grayscale(92%);
    transition: transform 0.3s ease-in-out;
}

.skillCon:hover {
    background-color: #1a1a2e;
    border: 2px solid #121225;
}

.skillCon:hover .skillIcon {
    transform: scale(1.2);
    filter: grayscale(0);
}

.percentage {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-con {
    display: flex;
}

.Resume {
    width: max-content;
    padding: 7px 25px;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    border: 2px solid #EAB308;
    background-color: transparent;
    color: white;
}

.Resume:hover {
    background-color: #EAB308;
}

.contact {
    margin-left: 15px;
}

.stitle {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #EAB308;
    position: relative;
}

.stitle::after {
    content: "";
    position: absolute;
    background-color: #EAB308;
    height: 1.5px;
    left: 10%;
    width: 80%;
    bottom: -5px;
}

.stitle::before {
    content: "";
    position: absolute;
    background-color: #EAB308;
    height: 1.5px;
    left: 25%;
    width: 50%;
    bottom: -15px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 60px 60px;
    box-sizing: border-box;
    line-height: 1.5;
}

.fcontact {
    display: none;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: space-between;
}

footer .clabel {
    width: max-content;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}
footer .clabel:after {
    position: absolute;
    content: "";
    background-color: #EAB308;
    height: 2.5px;
    bottom: -5px;
    left: 0;
    width: 55%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

form input {
    border-radius: 10px;
    outline: none;
    font-size: 15PX;
    border: 2px solid #EAB308;
    color: white;
    padding: 0 10px;
    height: 40px;
    background-color: transparent;
    width: 300px;
}

form .submit {
    /* height: 30px; */
    width: 130px;
    border-radius: 9px 9px 40px 40px;
    padding: 6px;
    font-size: 15px;
    font-weight: 500;
    background-color: #EAB308;
    border: none;
    color: white;
}

.fCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
   width: 100%;
}

.fmenu {
    width: 20%;
    margin-bottom: 40px;
    font-size: 18px;

}

.fmtitle {
    width: max-content;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

footer .fmtitle:after {
    position: absolute;
    content: "";
    background-color: #EAB308;
    height: 2px;
    bottom: -11px;
    left: 0;
    width: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.fmenu ul {
   list-style: none;
}
.fmenu ul li a{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
    color: #bbbbbb;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.fmenu ul li a:hover{
    color: white;
    padding-left: 8px;
}

.credit {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #413d39;
    padding: 15px;
}

.credit a {
    text-decoration: none;
    color: #565656;
    font-weight: 600;
    transition: all 0.3s ease;
}

.credit a:hover {
    color: #EAB308;
}